@model Lab02.Models.Book

@{
    ViewBag.Title = "EditBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-left:90px" class="text-danger">EditBook</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
<table>
    <tr>
        <td>
            Tittle:
        </td>
        <td>
            @Html.TextBoxFor(model => model.Tittle, new { @class = "form-control", placeholder = "Tittle" })
        </td>
    </tr>
    <tr>
        <td>
            Author:
        </td>
        <td>
            @Html.TextBoxFor(model => model.Tittle, new { @class = "form-control", placeholder = "Author" })
        </td>
    </tr>
    <tr>
        <td>
            Image Cover
        </td>
        <td>
            @Html.TextBoxFor(model => model.Imagecover, new { @class = "form-control", placeholder = "Image Cover" })
        </td>
    </tr>
    <tr style="text-align:center ;padding-top:20px">
        <td colspan="2">
            <input type="submit" value="Save book" class="btn btn-danger" />
        </td>
    </tr>
</table>
}
<p></p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
